{
  "openapi": "3.0.2",
  "info": {
    "title": "Greeting Service API",
    "version": "1.0.0",
    "description": "A simple service pushing greetings events in different languages"
  },
  "servers": [
    {
      "url": "http://greeting-service-yaks-demo.apps.cdeppisc.rhmw-integrations.net"
    }
  ],
  "paths": {
    "/openapi": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Open API specification"
          }
        },
        "operationId": "openapi",
        "summary": "Get the Open API V3 specification"
      }
    },
    "/health": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Health indication"
          }
        },
        "operationId": "health",
        "summary": "Health status of the application"
      }
    },
    "/greeting/{language}": {
      "post": {
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "description": "Language to use",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "Username to use",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The greeting event has been created"
          },
          "404": {
            "description": "The greeting language has not been found"
          }
        },
        "operationId": "greeting",
        "summary": "Publish a new greeting event in given language"
      }
    }
  }
}
